In [1]:
# Import Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load the data into pandas dataframes
members = pd.read_csv('./Filtered_Dataset/members_filtered.csv')
transactions = pd.read_csv('./Filtered_Dataset/transactions_filtered.csv')
user_logs = pd.read_csv('./Filtered_Dataset/user_logs_filtered.csv')
labels = pd.read_csv('./Filtered_Dataset/labels_filtered.csv')
features_all = pd.read_csv('./features_all.csv')

In [3]:
# Getting the date in YMD format

def pd_to_date(df_col):
    df_col = pd.to_datetime(df_col, format = '%Y%m%d')
    return df_col

In [4]:
# Getting the timestamps in a consistent format

user_logs['date'] = pd_to_date(user_logs['date'])
transactions['transaction_date'] = pd_to_date(transactions['transaction_date'])
transactions['membership_expire_date'] = pd_to_date(transactions['membership_expire_date'])
members['registration_init_time'] = pd_to_date(members['registration_init_time'])

In [5]:
# Getting more info on data

print('Members: \n')
members.info()
print()
print('Labels: \n')
labels.info()
print()
print('Transactions: \n')
transactions.info()
print()
print('User Logs: \n')
user_logs.info()
print()
print('All Features: \n')
features_all.info()

Members:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17375 entries, 0 to 17374
Data columns (total 6 columns):
msno                      17375 non-null object
city                      17375 non-null int64
bd                        17375 non-null int64
gender                    7772 non-null object
registerd_via             17375 non-null int64
registration_init_time    17375 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 814.5+ KB

Labels:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17375 entries, 0 to 17374
Data columns (total 2 columns):
msno        17375 non-null object
is_churn    17375 non-null int64
dtypes: int64(1), object(1)
memory usage: 271.6+ KB

Transactions:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282160 entries, 0 to 282159
Data columns (total 9 columns):
msno                      282160 non-null object
payment_method_id         282160 non-null int64
payment_plan_days         282160 non-null int64
plan_list_price           282160 non-null int64
actual_amount_paid        282160 non-null int64
is_auto_renew             282160 non-null int64
transaction_date          282160 non-null datetime64[ns]
membership_expire_date    282160 non-null datetime64[ns]
is_cancel                 282160 non-null int64
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 19.4+ MB

User Logs:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4883573 entries, 0 to 4883572
Data columns (total 9 columns):
msno          object
date          datetime64[ns]
num_25        int64
num_50        int64
num_75        int64
num_985       int64
num_100       int64
num_unq       int64
total_secs    float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 335.3+ MB

All Features:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17375 entries, 0 to 17374
Columns: 115 entries, msno to ('within_days_999', 'num_100', 'mean')
dtypes: float64(56), int64(54), object(5)
memory usage: 15.2+ MB

In [ ]:
user_logs.head()

In [ ]:
members.head()

In [10]:
transactions.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,ynoHZAirdqCE1WTLtSbR4DRBh+d/MCNRQyGJf3etfKQ=,22,410,1788,1788,0,2015-01-08,2016-02-22,0
1,6s+NSU5/dUQPW6V9xofh9MjL1KZpiGb4NSheT1zXmYY=,20,100,480,480,0,2016-11-17,2017-02-25,0
2,ntc5gs/VPO/6H8fOE4cytmRrDz4du8CWIiA1r05BkbI=,20,100,480,480,0,2015-10-11,2016-01-19,0
3,fNl44y6NC4flr2h6lKQvsQN+lOFO5Lm9t8gbb1/XQXQ=,20,100,480,480,0,2015-07-27,2015-11-04,0
4,ypOGEQcfsMHOc3gArywCzV0muy8aM/pm1MBPLTnSmqo=,12,410,1788,1788,0,2015-12-13,2017-02-05,0

In [11]:
transactions.tail()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
282155,/aaJ2gqAqZEiu4km/XvQC6oEpdhyPFtJFglv0RlRnv4=,41,30,149,149,1,2016-12-06,2017-01-07,0
282156,SC2+L0yvRUFfuH47zaMOHslq6rW8ymU0ObRiWbYB9jA=,41,30,149,149,1,2015-01-27,2015-02-28,0
282157,ZifE1cenXDgl6UmHa6iwDToVCwho+XcCYdMYeIq7DBw=,41,30,149,149,1,2015-09-25,2016-08-25,0
282158,8j8SpJ3nmalMgT30AyC5aZG0V/S9hXFkZt8jCgfqXow=,41,30,149,119,1,2015-05-15,2015-06-16,0
282159,UZGFfSXJi1AkHz13jxT7fpy/DjmL0SIkx2AnZzlgI8k=,41,30,149,149,1,2016-08-14,2016-09-14,0

In [ ]:
features_all.head()

In [8]:
transactions.describe()

,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,is_cancel
count,282160.000000,282160.000000,282160.000000,282160.000000,282160.000000,282160.000000
mean,39.110763,29.694135,133.454497,138.224373,0.918358,0.018773
std,3.335138,16.495047,74.474780,70.729399,0.273818,0.135723
min,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,38.000000,30.000000,99.000000,99.000000,1.000000,0.000000
50%,41.000000,30.000000,149.000000,149.000000,1.000000,0.000000
75%,41.000000,30.000000,149.000000,149.000000,1.000000,0.000000
max,41.000000,450.000000,1788.000000,1788.000000,1.000000,1.000000

In [6]:
# Grouping by the member (msno)
transactions_gb = transactions.sort_values(["transaction_date"]).groupby(['msno'])

# How many groups i.e. members i.e. msno's. We're good if this is the same number as the members table
print('%d Groups/msnos' %(len(transactions_gb.groups)))

17375 Groups/msnos

In [12]:
transactions_gb.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
113677,v7y0FbBVGXFXaaDkiatrm6sTtPt1pjB+JcirG8ohDcw=,40,31,149,0,1,2015-01-01,2015-02-05,0
40745,qFIkhCRnrrU0YQVeSJ1Q2h/CoOkccJuscXiGxzbiTiA=,41,30,149,149,1,2015-01-01,2015-02-01,0
7728,xpJ8QLmjEgy6g7QxEMa9L2n80OUNVVqxRx0wOtm5HOA=,37,31,149,149,1,2015-01-01,2015-02-01,0
10791,+bbLXN6CFptKb00CaRn/Adrf+CXsTfNEsWsVSiWH7zA=,38,30,149,149,0,2015-01-01,2015-03-02,0
179367,33b8ZRAtQcjvlze+Eoad9LxHfUiusGPgl4EmPQ3Ts8I=,41,30,149,149,1,2015-01-01,2015-02-02,0
159018,RezInwPOCs7QO2h9ogo7vzp0Dbr9DqWkysZE9tFtfHI=,40,31,149,149,1,2015-01-01,2015-02-03,0
207,vSqFCyy1z0k9L9h9eu8KpKpAcPGAojiLwg6A+zmYgjo=,27,31,149,149,1,2015-01-01,2015-02-02,0
243777,+3RDqkZp1VLy9Gb8xLyO+mmJjXMQTca1vV1DNiv3z7o=,37,31,149,149,1,2015-01-01,2015-02-02,0
83411,9cBmnSynhMPa9HOztDuw+13EzlE+ONk7livSOBGp0VM=,41,30,149,119,1,2015-01-01,2015-02-24,0
114404,GPcFXXSTzyQib0ErdePs/MD3afEMrpynLzcq+PXEuOM=,40,31,149,149,1,2015-01-01,2015-02-01,0
228250,XUpDTZUOQCVbPIQocY4Y+/ZGY0U0fml0LLhJiHu7s9I=,41,30,149,119,1,2015-01-01,2015-02-01,0
104246,UdsqL3jZlSclnaWK0JIj52BmmiFQ/BF4rIKxcKBLzJU=,38,30,149,149,0,2015-01-01,2015-01-31,0
254731,toGW2/NMmMowfcgWGMIpYO/0E+IhUq6X80haAd+7zWQ=,40,31,149,149,1,2015-01-01,2015-02-01,0
89343,PCrL6foG+8CFJdi5F9qvJg/3DY+bv+fhr0SUWka66ps=,41,30,149,119,1,2015-01-01,2015-03-16,0
186244,ymGzASskYokuzEKktPsHVV2/TLZUtGmIcYIG0FGcI8U=,41,30,149,119,1,2015-01-01,2015-02-01,0
158912,TvrX1b8BqCakYYaVGBzfURV4cQuJKfjtF2sGwmZQzrg=,40,31,149,149,1,2015-01-01,2015-02-01,0
17890,AHgs/tGV+JiGdtCi1qX9/IJTt9+aWerydFE1qPNPPyw=,40,31,149,149,1,2015-01-01,2015-02-03,0
54462,jvNj0TkJNnLbn2FEKfIBkoFx4ydcsVZ/U4NbJdRPcsc=,37,31,149,149,1,2015-01-01,2015-02-01,0
179041,2bnwYrO6mILNSbm0cMr9h4wtIrAC20oamiXkfI5tX54=,41,30,149,149,1,2015-01-01,2015-02-01,0
133242,p0btmWQv48OhbmxBn/VAiUdWH5XVDTijq92ij3gHfKg=,41,30,149,149,1,2015-01-01,2016-04-02,0
186018,8Aa5BU0x1jd2k0CqykS0deqPm6hJMTymOTGrzKFnB10=,41,30,149,149,1,2015-01-01,2015-02-02,0
131970,WA4w9rqxS0AjoGFuRuDkdl2V5raaZG7vvRyWCt/hn/A=,41,30,149,119,1,2015-01-01,2015-02-01,0
90580,HjiWkYdDrqMd6ATMa7SgFZ4zKMAKG/Nkm7DxQ9+AiWM=,41,30,149,149,1,2015-01-01,2015-02-01,0
159668,XnpV0KU41wX3hcHFe57GTSbvBIK7PgzF3H8HHS77nY0=,40,31,149,149,1,2015-01-01,2015-02-01,0
235477,uXqyex0syNbtZQlxdSZO0S1db1lTGAV9jMBTDou3XeQ=,24,30,149,149,1,2015-01-01,2015-01-31,0
254985,ffkMI+YNo0aBBODC0PMiLc91b6Q6p3I9NqQlGrdCz7E=,40,31,149,149,1,2015-01-01,2015-02-01,0
227179,CExR0QxCDteoo8R+IjWv+vLExb9nSUsl/oYKFgwmdfg=,41,30,149,149,1,2015-01-01,2015-02-02,0
54415,adTxDSz+r9f1PqwyX2vlT72kU1ytFnNATAmCYk060Js=,37,31,149,149,1,2015-01-01,2015-02-02,0
253880,EUdIfjIX4mkuWs1z400o8yQJdxvT53bAfmSz6AVz//M=,40,31,149,149,1,2015-01-01,2015-02-02,0
274385,LXNhKVGG/0RRsHN9K6DyEXmkiKlo4OP2rs1IpAr2J9Q=,41,30,149,119,1,2015-01-01,2015-06-28,0
...,...,...,...,...,...,...,...,...,...
170353,UAZ3HEhl+6FPfEffxgMeOGjWa2zcoak/dOy3LWoAIFQ=,41,30,99,99,1,2017-02-28,2017-03-31,0
170269,pO/UP1r877YeTY2SUu2bQAZjVZiNibGJvwFzgUpG7sc=,41,30,99,99,1,2017-02-28,2017-03-31,0
141501,JvdIJsCa91eOxx4VZHr7n4Vau3Sf6vE9MzMBAZuqi80=,23,30,149,99,1,2017-02-28,2017-03-31,0
29188,jYFMA3aBcVkcgiB8kBFxUxe5DUBDMdQGRoucB0ZUX1s=,41,30,99,99,1,2017-02-28,2017-03-31,0
116153,icwQ7DROiU9najaLR1de9r+jfwCvsewYOirZ+UqnvX4=,41,30,99,99,1,2017-02-28,2017-03-31,0
68057,t5sCvYq0wYODKKZUxJNYPb9I1YHKq1Jel3A3HcisIBY=,41,30,100,100,1,2017-02-28,2017-03-31,0
266631,crG396MLi8QFf/mPdt0ae9ipCjVGQu+hsS+y579CtME=,41,30,99,99,1,2017-02-28,2017-03-31,0
217741,QuD1WfNCEXOewKvKhFKnPWszZPL/uCGB5NNU68DDKHs=,41,30,99,99,1,2017-02-28,2017-03-31,0
210297,vwySjnD5S2rjxtPu5ehZg+n3suBqJdtSLZZ8b6AnPEg=,41,30,99,99,1,2017-02-28,2017-03-31,0
68784,TC2uhzk1ik5tK5OpezrylkDi5VqmB4mMxOR5m92qE8g=,41,30,99,99,1,2017-02-28,2017-03-31,0
2933,6xvfD1M8JhLXvzRCbSnio2i0gcAAuGE0jJGOo60KCYs=,33,30,149,149,1,2017-02-28,2017-03-31,0
76770,Cj0OWUJA61agZZJT991gR55A4W1ojaXfgcynaYoXsnQ=,41,30,99,99,1,2017-02-28,2017-03-31,0
164240,EMtMHhi7k+epBrgQE8vQcsGlYAx+V62dJ9UUMhmOSxc=,41,30,99,99,1,2017-02-28,2017-03-31,0
217847,wvV3Xttgh/cxBjT0MML8QZNFObB56FSB7Qutv5CKflM=,41,30,99,99,1,2017-02-28,2017-03-31,0
169564,aU29ZX2QA5nhLAvYL2vh90i36CDc0heBPZcVdvQT8t0=,41,30,99,99,1,2017-02-28,2017-03-31,0
114960,MMvM/Vn82N2R6RohNIyE+etbJdc5sdJX9ewr8jNzYfE=,41,30,100,100,1,2017-02-28,2017-03-31,0
31669,4LgtLvy7pZ+9laIzkkDAajSXrIRpOgRpaDkcYsMIZgM=,41,30,99,99,1,2017-02-28,2017-03-31,0
225162,lPLYp6+OBaDHm96H0WL8dEYY7zhTwlePAfBhrxaCMZM=,41,30,149,149,1,2017-02-28,2017-03-31,0
188665,BKdwG/8vPJ8G76x4zO9acfEn5mohE3SAdcN5q6mRW7Y=,23,30,149,99,1,2017-02-28,2017-03-31,0
266067,v6Bs++8sSa7BAqqdqmhY0r6j4cr3U+L2gfrt7HInprw=,41,30,99,99,1,2017-02-28,2017-03-31,0
114956,oee0gGg0g2lXV7tywuLA5Gr9V4hI6k/xNLU14ndtN4Q=,41,30,100,100,1,2017-02-28,2017-03-31,0
217128,yCEyVmZK2UR9jeea6qTvMcH2orkT0ElC5nvYDXp5m6o=,41,30,99,99,1,2017-02-28,2017-03-31,0
174257,oug0iJPHgP36R90CPBpYAMxUGoM2P6K5Y8PD7Saywk8=,41,30,99,99,1,2017-02-28,2017-03-31,0
118615,Zz4IOfQPKC3evqIgs+9tew907XUX8dTzvdW9PwljiZE=,41,30,99,99,1,2017-02-28,2017-03-31,0
24311,YJHI+Nx7jGhMtkCvtMm+UnkLrO0j1bzd7QQZY1/LkKo=,41,30,99,99,1,2017-02-28,2017-03-31,0
100359,1lg2EnOUm153lgbSMCCrvWAqWuDJ2bJPVvt5fEH1q94=,36,30,180,180,1,2017-02-28,2017-03-27,0
210434,t/2kZAlWFrimgvKIZ8HaPdK9zBVhCQBa7+o9HJiW1Tw=,41,30,99,99,1,2017-02-28,2017-03-31,0
101210,BGl9Y0rQLUDf3fOANGT2X9Aw2O4n0XrNVaMJkzOX+XA=,37,30,149,149,1,2017-02-28,2017-03-27,0
261031,AtqudAfScfTNai7MzUKd/ZTIzG9Bs2TJgLsthIWMYMo=,41,30,99,99,1,2017-02-28,2017-03-31,0
126066,L5ax7DdAtiW7qYhQuUbndK5fp8mnEQd71Hajv8rdtRs=,41,30,99,99,1,2017-02-28,2017-03-31,0

Features:
    Plan no of days for the latest transaction
    Plan actual amount paid/day for the latest transaction
    plan total amount paid for the latest transaction
    Is_auto_renew for the latest transaction
    is_cancel for the latest transaction
    Total number of plan days
    Total of all the amounts paid for the plan
    Plan day difference among the latest and previous transaction
    Amount paid/day difference among the latest and previous transaction
    ....

In [ ]:
# Features: Total_plan_days, Total_amount_paid
transactions_features = (transactions_gb
    .agg({'payment_plan_days':'sum', 'actual_amount_paid':'sum' })
    .rename(columns={'payment_plan_days': 'Total_plan_days', 'actual_amount_paid': 'Total_amount_paid',})
                      )
transactions_features.head()

In [ ]:
# Features: latest transaction
latest_transaction_gb = transactions_gb.tail([1])
latest_transaction_gb.head()

In [ ]:
# Plan actual amount paid/day for the latest transaction
# Adding the collumn amount_paid_per_day
latest_transaction_gb['amount_paid_per_day'] = (latest_transaction_gb['actual_amount_paid']/latest_transaction_gb['payment_plan_days'])
latest_transaction_gb.head()

In [ ]:
# TODO Differences among latest and previous transaction

In [ ]:
# TODO: DOES NOT WORK YET: Add to the features table

transactions_features = transactions_features.join(latest_transaction_gb, how = 'inner')
transactions_features.head()